body {
    background-color: #f8f9fa;
    padding: 20px;
}

h2 {
    color: #007bff;
}

.resultados {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
}
.swal2-popup {
    font-size: 1.6rem !important;
}